input {
    file {
        path => "/shared/borme_company_final.csv"
        start_position => "beginning"
        sincedb_path => "/dev/null"
    }
}

filter {
    csv {
        separator => ","

        columns => ["name","nif","slug","date_creation","is_active","type","date_updated","in_bormes","anuncios","cargos_actuales_p","cargos_actuales_c","cargos_historial_p","cargos_historial_c","date_extinction"]
        skip_header => "true"
    }
    mutate {
         split => { 
                  "anuncios" => ";" 
                  }
        }
    kv {
        source => "in_bormes"
	prefix => "in_bormes_"
        allow_duplicate_values => true
        field_split => ";"
        value_split_pattern => "=>"
    }
 kv {
        source => "cargos_actuales_p"
	prefix => "cargos_actuales_p_"
        allow_duplicate_values => true
        field_split => ";"
        value_split_pattern => "=>"
    }
 kv {
        source => "cargos_actuales_c"
	prefix => "cargos_actuales_c_prefix"
        allow_duplicate_values => true
        field_split => ";"
        value_split_pattern => "=>"
    }
 kv {
        source => "cargos_historial_p"
	prefix => "cargos_historial_p_prefix"
        allow_duplicate_values => true
        field_split => ";"
        value_split_pattern => "=>"
    }
 kv {
        source => "cargos_historial_c"
	prefix => "cargos_historial_c_prefix"
        allow_duplicate_values => true
        field_split => ";"
        value_split_pattern => "=>"
    }
}

output {
    elasticsearch {
        hosts => "elasticsearch"
        index => "borme"
        document_type => "borme_company_doc"
    }
    stdout {}
}
