input {
    file {
        path => "/shared/borme_person_normalized_clean_1_3.csv"
        start_position => "beginning"
        sincedb_path => "/dev/null"
    }
}

filter {
    csv {
        separator => ","

        columns => ["name","slug","companies"]
        skip_header => "true"
    }
    mutate {
         split => { "companies" => ";" }
        }
    mutate {
         rename => {
                "name" => "person_name"
                "slug" => "person_slug"
                "companies" => "name" 
        }
    }
}

output {
    elasticsearch {
        hosts => "elasticsearch"
        index => "borme-person"
        document_type => "borme_person_doc"
    }
    stdout {}
}
